<button class="material-icons" (click)="toggleMenu($event)">
  settings
  <i *ngIf="group['is:muted']" class="minds-groups-button-badge material-icons"
    >notifications_off</i
  >
</button>

<ul class="minds-dropdown-menu" [hidden]="!showMenu">
  <!-- owner functions -->
  <li class="mdl-menu__item" *ngIf="group['is:owner']" (click)="toggleEdit()">
    <ng-container *ngIf="!editing">Edit</ng-container>
    <ng-container *ngIf="editing">Save</ng-container>
  </li>

  <li
    class="mdl-menu__item"
    *ngIf="group['is:owner'] && group.videoChatDisabled"
    (click)="toggleVideoChat(true)"
  >
    Enable gathering
  </li>
  <li
    class="mdl-menu__item"
    *ngIf="group['is:owner'] && !group.videoChatDisabled"
    (click)="toggleVideoChat(false)"
  >
    Disable gathering
  </li>

  <li
    class="mdl-menu__item"
    *ngIf="group['is:owner'] && group.moderated"
    (click)="toggleModeration(false)"
  >
    Disable moderation
  </li>
  <li
    class="mdl-menu__item"
    *ngIf="group['is:owner'] && !group.moderated"
    (click)="toggleModeration(true)"
  >
    Enable moderation
  </li>

  <li
    class="mdl-menu__item"
    *ngIf="group['is:owner'] && !group.membership"
    (click)="togglePublic(true)"
  >
    Make public
  </li>
  <li
    class="mdl-menu__item"
    *ngIf="group['is:owner'] && group.membership"
    (click)="togglePublic(false)"
  >
    Make closed
  </li>

  <li
    class="mdl-menu__item"
    *ngIf="
          (group['is:owner'] || group['is:moderator']) &&
          group.conversationDisabled
        "
    (click)="toggleConversation(true); showMenu = false"
    i18n="@@GROUPS__PROFILE__GROUP_SETTINGS_BTN__ENABLE_CONVERSATION"
  >
    Enable conversation
  </li>
  <li
    class="mdl-menu__item"
    *ngIf="
          (group['is:owner'] || group['is:moderator']) &&
          !group.conversationDisabled
        "
    (click)="toggleConversation(false); showMenu = false"
    i18n="@@GROUPS__PROFILE__GROUP_SETTINGS_BTN__DISABLE_CONVERSATION"
  >
    Disable conversation
  </li>

  <!-- Member functions -->
  <li
    class="mdl-menu__item"
    [hidden]="group['is:muted']"
    (click)="mute()"
    i18n="@@GROUPS__PROFILE__GROUP_SETTINGS_BTN__DISABLE_NOTIFICATIONS"
  >
    Disable notifications
  </li>
  <li
    class="mdl-menu__item"
    [hidden]="!group['is:muted']"
    (click)="unmute()"
    i18n="@@GROUPS__PROFILE__GROUP_SETTINGS_BTN__ENABLE_NOTIFICATIONS"
  >
    Enable notifications
  </li>

  <!-- admin functions -->
  <li
    class="mdl-menu__item"
    *ngIf="session.isAdmin() && !group.mature"
    (click)="setExplicit(true)"
    i18n="@@M__ACTION__SET_EXPLICIT"
  >
    Set explicit
  </li>
  <li
    class="mdl-menu__item"
    *ngIf="session.isAdmin() && group.mature"
    (click)="setExplicit(false)"
    i18n="@@M__ACTION__REMOVE_EXPLICIT"
  >
    Remove explicit
  </li>
  <li
    class="mdl-menu__item m-groups-settings-dropdown__item--report"
    (click)="report(); showMenu = false"
    i18n="@@M__ACTION__REPORT"
  >
    Report
  </li>
  <li
    class="mdl-menu__item m-groups-settings-dropdown__item--deleteGroup"
    *ngIf="group['is:creator']"
    [hidden]="group.deleted"
    (click)="deletePrompt()"
    i18n="@@GROUPS__PROFILE__GROUP_SETTINGS_BTN__DELETE_GROUP"
    data-cy="data-minds-group-dropdown-delete"
  >
    Delete group
  </li>

  <li
    class="mdl-menu__item m-groups-settings-dropdown__item--nsfw"
    *ngIf="session.isAdmin()"
  >
    <m-nsfw-selector
      service="editing"
      [selected]="group.nsfw"
      (selectedChange)="onNSFWSelected($event)"
    >
    </m-nsfw-selector>
  </li>
</ul>
<div
  class="minds-bg-overlay"
  (click)="toggleMenu($event)"
  [hidden]="!showMenu"
></div>

<m-modal [open]="featureModalOpen" (closed)="onFeatureModalClose($event)">
  <div class="m-button-feature-modal">
    <select [(ngModel)]="category">
      <option value="not-selected" i18n="@@M__COMMON__SELECT_A_CATEGORY"
        >-- SELECT A CATEGORY --
      </option>
      <option *ngFor="let category of categories" [value]="category.id"
        >{{ category.label }}</option
      >
    </select>

    <button
      class="mdl-button mdl-button--colored"
      (click)="feature()"
      i18n="@@M__ACTION__FEATURE"
    >
      Feature
    </button>
  </div>
</m-modal>
