<m-settingsV2__header>
  <div
    class="m-settingsV2__headerLabel"
    i18n="@@SETTINGS__SECURITY__SESSIONS__LABEL"
  >
    Sessions
  </div>
  <div
    class="m-settingsV2__desc"
    i18n="@@SETTINGS__SECURITY__SESSIONS__DESCRIPTION_MGMT"
  >
    Manage the devices that have been granted access to your account
  </div>
</m-settingsV2__header>

<div class="m-formLayout--buttonLeft">
  <div class="m-form__fieldsContainer">
    <div *ngIf="!init" style="width:100%; text-align:center;">
      <div
        class="mdl-spinner mdl-js-spinner is-active"
        [mdl]
        style="margin: 16px auto;"
      ></div>
    </div>
    <ng-container *ngIf="init">
      <div class="m-settingsV2__table">
        <ul>
          <li class="m-settingsV2__tableHeader" *ngIf="sessions.length">
            <div class="m-settingsV2__tableCol--left">
              <span i18n="@@SETTINGS_V2_SESSIONS__DEVICES">Devices</span>
            </div>
            <div
              class="m-settingsV2__tableCol--right"
              i18n="@@SETTINGS_V2_SESSIONS__LAST_ACTIVE"
            >
              <span>Last Active</span
              ><span class="m-settingsV2__tableItem__action"></span>
            </div>
          </li>
          <li
            *ngFor="let session of sessions; let i = index"
            class="m-settingsV2__tableItem"
          >
            <div class="m-settingsV2__tableCol--left">
              <div class="m-settingsV2__sessions__agent">
                <span *ngIf="session.platform === 'browser'">Web browser</span>
                <span *ngIf="session.platform === 'app'">Mobile app</span>
                <span *ngIf="session.platform === 'matrix'">Chat</span>
              </div>
              <div class="m-settingsV2__sessions__ip">
                <span>{{ session.ip }}</span>
              </div>
            </div>
            <div class="m-settingsV2__tableCol--right">
              <span *ngIf="session.last_active > 0">{{
                session.last_active | friendlydatediff
              }}</span>
              <span *ngIf="session.last_active === 0">Unknown</span>
              <div class="m-dropdown--v2">
                <!-- <button > -->
                <i (click)="onButtonClick(i)" class="material-icons"
                  >more_vert</i
                >
                <!-- </button> -->

                <ul
                  class="m-dropdown__list"
                  *ngIf="(menuOpened$ | async) === i"
                >
                  <li
                    class="m-dropdownList__item"
                    (click)="deleteSession(session)"
                    i18n="@@SETTINGSV2_SESSIONS__REVOKE_ACCESS"
                  >
                    Revoke access
                  </li>
                </ul>
              </div>
            </div>
          </li>

          <li class="m-settingsV2__tableItem"></li>
        </ul>
      </div>
    </ng-container>
  </div>
  <!-- <div class="m-form__buttonsContainer">
    <m-button
      color="red"
      (onAction)="deleteAllSessions()"
      i18n="@@SETTINGSV2_SESSIONS__CLOSE_ALL_SESSIONS"
    >
      Close all sessions
    </m-button>
  </div> -->
</div>
<div
  class="m-bgOverlay--v2"
  (click)="menuOpened$.next(false)"
  *ngIf="(menuOpened$ | async) !== false"
></div>
