<div class="m-composerPopup__body m-composer__schedule">
  <div class="m-composerPopup__content">
    <h3 class="m-composerPopup__title" i18n="@@COMMON__SCHEDULE_POST">
      Schedule Post
    </h3>

    <div class="m-composerSchedule__layout">
      <m-calendar
        class="m-composerSchedule__calendar"
        [date]="state.date"
        [minDate]="minDate"
        [maxDate]="maxDate"
        (dateChange)="onDateChange($event)"
      ></m-calendar>

      <div class="m-composerSchedule__form">
        <div class="m-composerPopup__field">
          <label i18n="@@COMMON__DATE">Date</label>
          <input
            type="text"
            [ngModel]="state.date | date: 'mediumDate'"
            readonly
          />
        </div>

        <div class="m-composerPopup__field">
          <label i18n="@@COMMON__TIME__24_HR">Time (24-hour)</label>
          <input
            type="time"
            [ngModel]="state.time"
            (ngModelChange)="onTimeChange($event)"
            maxlength="5"
            [ngClass]="{
              'm-composerPopup__input--invalid': hasError()
            }"
          />
          <span
            *ngIf="hasError()"
            class="m-composerPopupField__error"
            i18n="@@M__COMPOSER_SCHEDULE__TIME_ERROR"
            >Time must be more than 5 minutes in the future and 24-hr format
            (e.g. 18:05)</span
          >
        </div>

        <div class="m-composerPopup__field">
          <label i18n="@@COMMON__TIMEZONE">Timezone</label>
          <input type="text" [ngModel]="currentTimezone" readonly />
        </div>
      </div>
    </div>
  </div>

  <div class="m-composerPopup__action">
    <m-button
      class="m-composerPopup__save"
      [disabled]="hasError() || !this.state"
      (onAction)="save()"
      data-cy="schedule-save-button"
      i18n="@@COMMON__SAVE"
    >
      Save
    </m-button>
  </div>
</div>
